.mainArea{
	position: relative;
	min-height: 100vh;
	min-width: 100vw;
	background-position: 50% 5%;
	background-image: radial-gradient(circle, rgba(101,101,101,0.7553396358543417) 0%, rgba(0,0,0,0) 100%);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	z-index: -2;
}
.mainPicArea{
display: flex;
 box-sizing: border-box;
 text-align: center;
 justify-content: center;
 align-items: center;
 position: relative;
 padding:4em 1em 1em 1em;
 max-width: 600px;
 margin:  0 auto;
 width: 100%;
}
.title  {
max-width: 600px;
 width: 100%;
 height: 20px;
 margin: 10px auto 30px auto;
 font-size: 1.25em;
 color: #fff;
 text-align: center;
 position: relative;
	span{
width: 170px;
 display: block;
 margin: 0 auto;
	}
	&:after,&:before{
		display: block;
		 content: "";
		 width: calc(50% - 5em);
		 position: absolute;
		 transform: translateY(-50%);
		 top: 50%;
		 background: #fff;
		 height: 1px;
		 border-bottom: 1px solid #7a7a7a;
	}
	&:before{
		right:0;
	}
}

.slogan {
text-align: center;
 font-size: 22px;
 color: #cbce57;
}
.astro{
width:100%;
max-width: 424px;
}


.ufo{
	width:50px;position: absolute;
	top:7em; left:50%;
	transform: translateX(calc(-50% - 7em)) rotate(-25deg);
	
	animation:  transforms  10s linear infinite;
	z-index: -1;
}
@keyframes transforms {
	0%{ top:7em; left:50% ; transform: translateX(calc(-50% - 7em)) rotate(-25deg) scale(1);}
	25%{top:5em; transform:  translateX(calc(-50%)) rotate(0deg) scale(.7)}
	50%{top:7em; right:0%; transform: translateX(calc(-50% + 7em + 42px)) rotate(25deg)  scale(1);}
	75%{top:5em;  transform: translateX(calc(-50%)) rotate(0deg) scale(.7)}
	100%{top:7em;left:50% ; transform: translateX(calc(-50% - 7em)) rotate(-25deg) scale(1);}
}

:root {
 --timer :  1.5s ;
}

.animation-cirl-a{
	animation:  wheel var(--timer) linear infinite;
}
.animation-cirl-b{
	animation:  wheel2 var(--timer) linear infinite;
}
.animation-cirl-c{
	animation: wheel3  var(--timer) linear infinite;
}
@keyframes wheel {
	0% { opacity: 1}
	33% { opacity: 1}
	34% { opacity: 0}
	100% {  opacity: 0}
}
@keyframes wheel2 {
	0% { opacity: 0}
	33% { opacity: 0}
	34% { opacity: 1}
	66% { opacity: 1}
	67% { opacity: 0}
	100% {  opacity: 0}
}
@keyframes wheel3 {
	0% { opacity: 0}
	66% { opacity: 0}
	67% { opacity: 1}
	100% {  opacity: 1}
}


/* Space */

@keyframes spin {
	  
	  from {
		transform: rotate( 0deg );
	  }
	  
	  to {
		transform: rotate( -360deg );
	}
}

#space, .stars {
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -3;
}
.stars {
  background-image: 
	radial-gradient(2px 2px at 20px 30px, #eee, rgba(0,0,0,0)),
	radial-gradient(2px 2px at 40px 70px, #fff, rgba(0,0,0,0)),
	radial-gradient(2px 2px at 50px 160px, #ddd, rgba(0,0,0,0)),
	radial-gradient(2px 2px at 90px 40px, #fff, rgba(0,0,0,0)),
	radial-gradient(2px 2px at 130px 80px, #fff, rgba(0,0,0,0)),
	radial-gradient(2px 2px at 160px 120px, #ddd, rgba(0,0,0,0)),
	radial-gradient(2px 2px at 180px 110px, #fff, rgba(0,0,0,0)),
	radial-gradient(2px 2px at 100px 70px, #ddd, rgba(0,0,0,0));
  background-repeat: repeat;
  background-size: 200px 200px;
  animation: zoom 10s infinite;
  opacity: 0;
}


.stars:nth-child(1) {
  background-position: 50% 50%;
  animation-delay: 0s;
}
.stars:nth-child(2) {
  background-position: 20% 60%;
  animation-delay: 1s;
}
.stars:nth-child(3) {
  background-position: -20% -30%;
  animation-delay: 2s;
}
.stars:nth-child(4) {
  background-position: 40% -80%;
  animation-delay: 3s;
}
.stars:nth-child(5) {
  background-position: -20% 30%;
  animation-delay: 5s;
}
.stars:nth-child(6) {
	  background-position: 40% 80%;
	  animation-delay: 0s;
	}
@keyframes zoom {
  0% {
	opacity: 0;
	transform: scale(0.5);
	animation-timing-function: ease-in;
  } 
  85% {
	opacity: 1;
	transform: scale(2.8);
	animation-timing-function: linear;
  }
  100% {
	opacity: 0;
	transform: scale(3.5);
  }
}


/* 500 */

.mainPicAreaSec{
	font-size: 10px;width:100%;max-width: 450px;
}
.ratio4w3{
	padding-top: 75%;	position: relative;
}
.box{
	position: absolute;
	left:calc(38.75% );
	width:18.2%;
	bottom:38%;
	z-index: 3;
}
.alien{
	position: absolute;
	width:17%;
	bottom:51%;
	left:calc(42.75%  );
	z-index: 4;
}
.number500{
	position: absolute;width:100%;
	bottom: 0;
	z-index: 2;
	left: 0;
}


.rect{
	fill:#fff; 
	transform: translateX(72.189px)  translateY(21px) ;
	animation: move 2.5s linear infinite;
}

.rectb{
	fill:#fff; 
	transform: translateX(72.189px)  translateY(21px) ;
	animation: move2 2.5s linear infinite;
	animation-delay: .75s;
}

.rectc{
	fill:#fff; 
	transform: translateX(72.189px)  translateY(21px) ;
	animation: move3 2.5s linear infinite;
	animation-delay: 1.5s;
}

.bar{
	animation: barroate 2.5s linear infinite;
	transform-origin: center;
	fill: #fffb10;
}

.ufoB{
	position: absolute;
	width: 25%;
	right:5%;
	top:11%;
	z-index : 1;
}
@keyframes barroate {
  0% {
	fill: #fffb10;
  } 
  50% {
	fill: #00ff3b;
  }
  100%{
	 fill: #fffb10;
  }
}
@keyframes move {
	0%{
		transform: translateX(56.75px) translateY(121px) rotate(0) ;
	}
	100%{
		transform: translateX(56.75px)  translateY(21px) rotate(180deg) ;
	}
}

@keyframes move2 {
	0%{
		transform: translateX(41.377px) translateY(121px) rotate(0) ;
	}
	100%{
		transform: translateX(41.377px)  translateY(21px) rotate(180deg) ;
	}
}

@keyframes move3 {
	0%{
		transform: translateX(72.189px) translateY(121px) rotate(0) ;
	}
	100%{
		transform: translateX(72.189px)  translateY(21px) rotate(180deg) ;
	}
}


.lights{
	background: rgba(205, 255, 0, 1);
	width: 10px;
	height:10px;
	position: absolute;
	border-radius: 5px;
	bottom:63%;
	left:52%;
	z-index: 5;
	animation: lights 1.5s linear infinite;
}


@keyframes lights {
	0%{
		transform: scale(1) ;
		opacity: 1
	}
	80%{
		transform: scale(5) ;
		opacity: 0;
	}
	100%{
		transform: scale(5) ;
		opacity: 0;
		
	}
}
